target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/archetype-resources/google-services.json
auth.json

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/resources/archetype-resources/google-services.json

### VS Code ###
.vscode/

### Others ###
*.log
*.swp
*.bak
.DS_Store
